## Exercise 2.1 - Solution
Here, I created three variables: one integer for ice cream, one for sleep, and a character string for my name. 
I calculated the average using the statistics package to calculate the mean of the scores.
I found the data type of each variable and was surprised that my happiness score was a 'float' instead of an integer.
I print my final results at the end of the code!

In [1]:
import statistics

In [2]:
ice_cream = 7
sleep = 10
name = 'Caelan'
happiness = statistics.mean([ice_cream,sleep])

In [3]:
type(ice_cream)

int

In [4]:
type(sleep)

int

In [5]:
type(name)

str

In [6]:
type(happiness)

float

In [7]:
print('My name is',name,'and I give eating ice cream a score of',ice_cream,'out of 10!')
print('My sleeping enjoyment rating is',sleep,'/10!')
print('Based on the factors above, my happiness rating is',happiness,'out of 10 or',(happiness*10),'%')

My name is Caelan and I give eating ice cream a score of 7 out of 10!
My sleeping enjoyment rating is 10 /10!
Based on the factors above, my happiness rating is 8.5 out of 10 or 85.0 %

## Exercise 2.2 - Creating and changing lists


|FMI station name       | First year of operation | Group |
|:----------------------|:-----------------------:|:-----:|
|lighthouse             | 2003                    | 1     |
|Harmaja                | 1989                    | 1     |
|Suomenlinna aaltopoiju | 2016                    | 1     |
|Kumpula                | 2005                    | 1     |
|Kaisaniemi             | 1844                    | 1     |
|Malmi airfield         | 1937                    | 2     |
|Vuosaari harbour       | 2012                    | 2     |
|Kaivopuisto            | 1904                    | 2     |

Here, I created two lists for the station names and first years of operation for the stations in Group 1 in Table 2.5. Then, I modified the lists to add the values Group 2, again keeping them in the same order. Finally, I sortted the two lists, sorting the first in alphabetical order and the second so that the most recent starting year is first. The date range was sorted earliest year to more recent years, to combat this, I utilized the python function called 'zip()'. The final product was two lists sorted alphabetically and most recent to past years.

In [8]:
station_names = ["Lighthouse",
                 "Harmaja",
                 "Suomenlinna aaltopoiju",
                 "Kumpula",
                 "Kaisaniemi"]
station_years = ["2003",
                 "1989",
                 "2016",
                 "2005",
                 "1844"]

In [9]:
print(station_names,station_years)

['Lighthouse', 'Harmaja', 'Suomenlinna aaltopoiju', 'Kumpula', 'Kaisaniemi'] ['2003', '1989', '2016', '2005', '1844']

In [10]:
station_names.append("Malmi airfield")
station_names
station_names.append("Vuosaari harbour")
station_names
station_names.append("Kaivopuisto")
station_names

['Lighthouse',
 'Harmaja',
 'Suomenlinna aaltopoiju',
 'Kumpula',
 'Kaisaniemi',
 'Malmi airfield',
 'Vuosaari harbour',
 'Kaivopuisto']

In [11]:
station_years.append("1937")
station_years
station_years.append("2012")
station_years
station_years.append("1904")
station_years

['2003', '1989', '2016', '2005', '1844', '1937', '2012', '1904']

In [12]:
#sort
station_names.sort()
station_names
##make years go high to low instead of low to high

['Harmaja',
 'Kaisaniemi',
 'Kaivopuisto',
 'Kumpula',
 'Lighthouse',
 'Malmi airfield',
 'Suomenlinna aaltopoiju',
 'Vuosaari harbour']

In [13]:
## sort dates high to low using zip

## Exercise 2.3 - Lists and index values

For this loop I took the data below to print the average temperature in Helsinki with its coinciding month.

|Month     | Temperature (Â°C) |
|:---------|:----------------:|
|January   | -3.5             |
|February  | -4.5             |
|March     | -1.0             |
|April     | 4.0              |
|May       | 10.0             |
|June      | 15.0             |
|July      | 18.0             |
|August    | 16.0             |
|September | 11.5             |
|October   | 6.0              |
|November  | 2.0              |
|December  | -1.5             |

In [14]:
months = ["January", "February", "March", "April", 
          "May", "June", "July", "August", "September", 
          "October", "November", "December"]
temp = ['-3.5','-4.5','-1.0','4.0','10.0','15.0','18.0','16.0','11.5','6.0','2.0','-1.5']

In [15]:
for i in range(len(months)):
    print("The average temperature in Helsinki in", months[i],"is", temp[i])

The average temperature in Helsinki in January is -3.5
The average temperature in Helsinki in February is -4.5
The average temperature in Helsinki in March is -1.0
The average temperature in Helsinki in April is 4.0
The average temperature in Helsinki in May is 10.0
The average temperature in Helsinki in June is 15.0
The average temperature in Helsinki in July is 18.0
The average temperature in Helsinki in August is 16.0
The average temperature in Helsinki in September is 11.5
The average temperature in Helsinki in October is 6.0
The average temperature in Helsinki in November is 2.0
The average temperature in Helsinki in December is -1.5

## Exercise 2.4 - Batch processing files with a `for` loop

Here, I used a `for` loop to create a Python list that produces the output below

In [16]:
for i in range(21):
    print('Station_',i,'.txt')

Station_ 0 .txt
Station_ 1 .txt
Station_ 2 .txt
Station_ 3 .txt
Station_ 4 .txt
Station_ 5 .txt
Station_ 6 .txt
Station_ 7 .txt
Station_ 8 .txt
Station_ 9 .txt
Station_ 10 .txt
Station_ 11 .txt
Station_ 12 .txt
Station_ 13 .txt
Station_ 14 .txt
Station_ 15 .txt
Station_ 16 .txt
Station_ 17 .txt
Station_ 18 .txt
Station_ 19 .txt
Station_ 20 .txt